.Logo {
  margin: 22px;
}h: 308px;
  min-height: 86px;
  position: relative;
  margin-left: 8px;
  margin-bottom: 16px;
}
.SelectContainer .label {
  color: white;
  margin-bottom: 4px;
  margin-top: 4px;
}
.SelectContainer.large {
  width: 424px;
}
.SelectContainer.large .Select {
  width: 442px;
}
.SelectContainer.large .Select ul {
  width: 442px;
}

.Select {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  width: 308px;
  min-height: 60px;
  display: flex;
  position: absolute;
  z-index: 1;
}
.Select ul {
  position: relative;
  list-style: none;
  width: 300px;
  padding: 0;
  padding-left: 16px;
}
.Select ul li {
  display: flex;
  align-items: center;
  list-style: none;
  min-height: 32px;
  margin: 0;
  text-transform: capitalize;
}
.Select input {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-right: 16px;
}
.Select button {
  border: none;
  background: none;
  height: 32px;
  margin-top: 16px;
  margin-right: 8px;
}
.Select button.close {
  transform: rotate(180deg);
}
.Select .SelectTitle--show {
  display: flex;
}
.Select .SelectTitle--hide {
  color: white;
}